<li id="<%= question.question_id %>" class="card q-card mt-6">
  <div class="card-header">
    <h3 class="card-header-title is-size-5">
      <%= question.question %>
    </h3>
  </div>
  <div class="card-content p-3">
    <ul class="control">
      <% for (option of question.options) { %>
        <li class="option">
          <label class="radio p-3">
            <input id="<%= option.option_id%>" type="radio" class="option-radio" name="<%=  question.question_id %>">
            <span class="ml-2">
              <%= option.option %>
            </span>
          </label>
        </li>
        <% } %>
    </ul>

  </div>
</li>
