<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/submit_quiz.js"></script>
  <script type="text/javascript">
    const share = () => {
      const copyText = document.getElementById("share");
      copyText.select();
      navigator.clipboard.writeText(copyText.value);
    }
  </script>
</head>

<body>
  <%- include('partials/_navbar'); %>
    <section id="quiz" q-id="<%= quiz.id %>" class="container padded">
      <h2 class="is-size-2 has-text-white has-text-weight-bold mt-5">
        <%- quiz.title %>
      </h2>
      <p class="is-size-5 has-text-white has-text-weight-semibold mb-5">
        <%- quiz.description %>
      </p>
      <ul class="">
        <% for (question of quiz.questions) { %>
          <%- include('partials/_question-list-item', { question }) %>
            <% } %>
      </ul>
      <button id="submit-quiz" class="button is-info has-text-weight-bold mt-5">Submit</button>
      <p class="share-link">
        <input type="text" value="localhost:8080/quizzes/<%- quizIdentifier %>" id="share">
        <button onclick="share()">Share your result!</button>
        </p>
    </section>

</body>

</html>
